.label-red {
  color: red; }

.label-orange {
  color: #f15a20; }

.btn {
  background: #f15a20;
  color: white; }

.bold {
  font-weight: bold; }

.roblaw-title {
  font-family: oswald;
  font-size: 37px;
  color: #7a7881;
  position: relative;
  margin-bottom: 30px; }

a {
  color: #f15a20; }

.nav {
  width: 100%;
  background: black;
  align-content: center; }

.navbar {
  margin-bottom: 0; }

.roblaw-title:after {
  content: "";
  width: 76px;
  height: 6px;
  position: absolute;
  display: block;
  top: 125%;
  left: 2px;
  background: #f15a20;
  border-right: 1px solid #f8a98a; }

#need-an-adventure {
  background-image: url("/img/background-im.png"); }
  #need-an-adventure .transparent {
    background: rgba(36, 36, 36, 0.8);
    color: white;
    margin-top: 5em; }
    #need-an-adventure .transparent h2 {
      text-transform: uppercase; }
    #need-an-adventure .transparent h5 {
      text-transform: capitalize; }
    #need-an-adventure .transparent button {
      float: right; }
  #need-an-adventure .orange {
    background-color: #f15a20;
    width: 25%;
    color: white;
    padding-top: 2.5em;
    font-size: 1.3em;
    margin-top: 4em; }

#we-recruit {
  margin-top: 10%;
  background: rgba(8, 8, 8, 0.4);
  color: #7a7881;
  padding-left: 15%;
  padding-right: 15%; }

#job-search .roblaw-title, #we-recruit .roblaw-title, #labour-now .roblaw-title {
  color: white; }

#job-search {
  text-align: center;
  align-content: center;
  background-color: #222222; }
  #job-search h2 {
    font-family: oswald;
    font-size: 37px;
    color: white; }
  #job-search .select .btn {
    border: none;
    background: black;
    min-height: 3em; }
  #job-search .btn {
    background: #222222;
    border-color: white;
    margin: 3px; }
  #job-search #search {
    background: #f15a20; }

#labour-now {
  background-color: black; }
  #labour-now a {
    margin-right: 2em; }

#technical-recruitment img {
  width: 28em; }
#technical-recruitment #non-image {
  width: 28em;
  min-height: 19em;
  background-color: black;
  color: white; }

#featured-job #miner img {
  display: inline-block;
  width: 78.125%; }
#featured-job .each-job span {
  margin-left: 1em; }

#social-networks .media {
  margin: 10px; }
#social-networks .media, #social-networks .bd {
  overflow: hidden;
  _overflow: visible;
  zoom: 1; }
#social-networks .media .img {
  float: left;
  margin-right: 10px;
  margin-top: 7px; }
#social-networks .media .img img {
  display: block; }
#social-networks .media .imgExt {
  float: right;
  margin-left: 10px; }
#social-networks .media.twitter p {
  margin-bottom: 2px; }
#social-networks .media.twitter .tw-name {
  color: #222222; }
#social-networks .media.twitter .tw-occu {
  color: #7a7881; }
#social-networks .media.twitter .tw-link {
  color: #f15a20; }
#social-networks .facebook img {
  width: 56.25%;
  height: auto; }
#social-networks .facebook .each-facebook img {
  width: 21.875%;
  height: auto; }

#currently-recruiting .spanner img {
  width: 43.47826%;
  height: auto;
  padding-left: 3%;
  padding-bottom: 2%;
  z-index: -1; }
#currently-recruiting .more-companies img {
  margin-right: 5em; }

#wellington-auckland {
  background: url("/img/background-im.png") 0 no-repeat;
  color: white;
  padding-top: 2em; }
  #wellington-auckland #contactform {
    padding-top: 1em; }
    #wellington-auckland #contactform input, #wellington-auckland #contactform textarea {
      min-width: 18em;
      min-height: 3em;
      background-color: black;
      border: none;
      color: white;
      margin-bottom: 1em; }

#footer {
  padding: 2em 0em 2em 0em;
  background-color: black; }
  #footer .social-icons {
    margin-top: 10%; }

.section-full-width {
  width: 100%; }
