$font-stack:    Helvetica, sans-serif
$black: #000000
$orange: #f15a20
$red: #ff0000
$white: #ffffff
$gray: #7a7881
$gray-dark: #222222 //#504d53
.nav
  width: 100%
  background: $black
.navbar
  margin-bottom: 0
.label-red
  color: $red
.label-orange
  color: $orange
.btn
  background: $orange
  color: $white

.roblaw-title
  font-family: oswald
  font-size: 37px
  color: $gray
  position: relative //that is for put absolute on :after
  margin-bottom: 30px

.roblaw-title:after
  content: "" // with out content never see this
  width: 76px
  height: 6px
  position: absolute
  display: block
  top: 125%
  left: 2px
  background: $orange
  border-right: 1px solid #f8a98a
  z-index: -1

#need-an-adventure
  background-image: url("/img/background-im.png")
  #transparent
    background: rgba(36, 36, 36, 0.8)
    color: $white
    button
      float: right
  #orange
    background-color: $orange
    width:  100px / 400px * 100%
    color: $white

#we-recruit
  margin-top: 10%
  background: rgba(8, 8, 8, 0.4)
  color: $gray
  padding-left: 15%
  padding-right: 15%

#job-search, #we-recruit, #labour-now
  .roblaw-title
    color: $white
#job-search
  text-align: center
  background-color: $gray-dark
  .select
    .btn
      border: none
  .btn
    background: $black
    color: $white
    border-color: $gray
    //padding: 2%
    margin: 3px
  #search
    background: $orange


#labour-now
  background-color: $black
#technical-recruitment
  img
    display: inline-block
    width: 200px / 240px * 100%
  #non-image
    background-color: $black
    color: $white
#featured-job
  #miner
    img
      display: inline-block
      width: 750px / 960px * 100%

#social-networks
  .media
    margin: 10px

  .media, .bd
    overflow: hidden
    _overflow: visible
    zoom: 1

  .media .img
    float: left
    margin-right:  10px
    margin-top:  7px

  .media .img img
    display: block

  .media .imgExt
    float: right
    margin-left: 10px

  .media.twitter
    p
      margin-bottom: 2px
    .tw-name
      color: $gray-dark
    .tw-occu
      color: $gray
    .tw-link
      color: $orange


#footer
  .left, .right, .middle
    width: 300px / 960px * 100%
  background-color: $black
  color: $white
  .left, .middle
    float: left
  .right
    float: right

.section-full-width
  width: 100%
