$font-stack:    Helvetica, sans-serif
$black: #000000
$orange: #f15a20
$red: #ff0000
$white: #ffffff
$gray: #7a7881
$gray-dark: #222222 //#504d53

//GENERAL
.label-red
  color: $red
.label-orange
  color: $orange
.btn
  background: $orange
  color: $white
.bold
  font-weight: bold
.roblaw-title
  font-family: oswald
  font-size: 37px
  color: $gray
  position: relative //that is for put absolute on :after
  margin-bottom: 30px
a
  color: $orange
//END GENERAL

.nav
  width: 100%
  background: $black
  align-content: center
.navbar
  margin-bottom: 0

.roblaw-title:after
  content: "" // with out content never see this
  width: 76px
  height: 6px
  position: absolute
  display: block
  top: 125%
  left: 2px
  background: $orange
  border-right: 1px solid #f8a98a
  //z-index: -1

#need-an-adventure
  background-image: url("/img/background-im.png")
  .transparent
    background: rgba(36, 36, 36, 0.8)
    color: $white
    margin-top: 5em
    h2
      text-transform: uppercase
    h5
      text-transform: capitalize
    button
      float: right


  .orange
    background-color: $orange
    width:  100px / 400px * 100%
    color: $white
    padding-top: 2.5em
    font-size: 1.3em
    margin-top: 4em

#we-recruit
  margin-top: 10%
  background: rgba(8, 8, 8, 0.4)
  color: $gray
  padding-left: 15%
  padding-right: 15%

#job-search, #we-recruit, #labour-now
  .roblaw-title
    color: $white
#job-search
  text-align: center
  align-content: center
  background-color: $gray-dark
  h2
    font-family: oswald
    font-size: 37px
    color: $white
  .select
    .btn
      border: none
      background: $black
      min-height: 3em
  .btn
    background: $gray-dark
    border-color: $white
    margin: 3px
  #search
    background: $orange

#labour-now
  background-color: $black
  a
    margin-right: 2em
#technical-recruitment
  img
    width: 28em
  #non-image
    width: 28em
    min-height: 19em
    background-color: $black
    color: $white
#featured-job
  #miner
    img
      display: inline-block
      width: 750px / 960px * 100%
  .each-job
    span
      margin-left: 1em

#social-networks
  .media
    margin: 10px

  .media, .bd
    overflow: hidden
    _overflow: visible
    zoom: 1

  .media .img
    float: left
    margin-right:  10px
    margin-top:  7px

  .media .img img
    display: block

  .media .imgExt
    float: right
    margin-left: 10px

  .media.twitter
    p
      margin-bottom: 2px
    .tw-name
      color: $gray-dark
    .tw-occu
      color: $gray
    .tw-link
      color: $orange
  .facebook
    img
      width: 180px /320px * 100%
      height: auto
    .each-facebook
      img
        width: 70px /320px * 100%
        height: auto

#currently-recruiting
  .spanner
    img
      width: 200px / 460px * 100%
      height: auto
      padding-left: 3%
      padding-bottom: 2%
      z-index: -1
  .more-companies
    img
      margin-right: 5em
#wellington-auckland
  background: url("/img/background-im.png") 0 no-repeat
  color: $white
  padding-top: 2em
  #contactform
    padding-top: 1em
    input, textarea
      min-width: 18em
      min-height: 3em
      background-color: $black
      border: none
      color: $white
      margin-bottom: 1em


#footer
  padding: 2em 0em 2em 0em
  background-color: $black
  .social-icons
    margin-top: 10%
.section-full-width
  width: 100%
