$font-stack:    Helvetica, sans-serif
$black: #000000
$orange: #f15a20
$red: #ff0000
$white: #ffffff
$gray: #7a7881
$gray-dark: #222222 //#504d53
$gray-light: #999999 //#d3d3d3
//GENERAL
img
  max-width: 100%
.label-red
  color: $red
.label-orange
  color: $orange
.btn
  background: $orange
  color: $white
.bold
  font-weight: bold
.roblaw-title
  font-family: oswald
  font-size: 2.6em //37px
  color: $gray
  position: relative //that is for put absolute on :after
  margin-bottom: 1.6em //30px
a
  color: $orange

.roblaw-title:after
  content: "" // with out content never see this
  width: 2em //76px
  height: 0.16em //6px
  position: absolute
  display: block
  top: 125%
  left: 0.1em //2px
  background: -webkit-linear-gradient(right,$orange, $orange, $orange, $orange,  #f8a98a) /* For Safari */
  background: -o-linear-gradient(right, $orange, $orange, $orange, $orange, #f8a98a) /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, $orange, $orange, $orange, $orange, #f8a98a) /* For Fx 3.6 to 15 */
  background: linear-gradient(to right, $orange, $orange, $orange, $orange, #f8a98a) /* Standard syntax (must be last) */

//END GENERAL
.nav
  width: 100%
  background: $black
  align-content: center
.navbar
  margin-bottom: 0



#need-an-adventure
  background-image: url("/img/background-im.png")
  .transparent
    background: rgba(36, 36, 36, 0.8)
    color: $white
    margin-top: 5em
    h2
      text-transform: uppercase
    h5
      text-transform: capitalize
    button
      position: absolute
      top:  77%
      right: 0


  .orange
    background-color: $orange
    color: $white
    padding-top: 1.5em
    padding-bottom: 1.4em
    font-size: 1.3em
    margin-top: 3.82em

.we-recruit
  margin-top: 5em
  background: rgba(8, 8, 8, 0.4)
  color: $gray-light
  padding-left: 15%
  padding-right: 15%

#job-search, #we-recruit, #labour-now
  .roblaw-title
    color: $white
  color: $gray-light
#job-search
  text-align: center
  background-color: $gray-dark
  h2
    font-family: oswald
    font-size: 2.6em //37px
    color: $white
  .select
    .btn
      border: none
      background: $black

  .btn

    min-height: 3em
    background: $gray-dark
    border-color: $white
    margin-left: 0.5em
    margin-right: 0.5em
    margin-bottom: 2em
  #search
    background: $orange


#labour-now
  background-color: $black
  a
    margin-right: 2em
.technical-recruitment
  overflow: hidden
  .container
    display: inline
  img
    float: inherit
    max-width: 25%

#featured-job
  #miner
    overflow: hidden
    img
      position: relative
      left: 10%


  .each-job
    span
      margin-left: 1em

#social-networks
  .media
    margin: 1em //10px

  .media, .bd
    overflow: hidden
    _overflow: visible
    zoom: 1

  .media .img
    float: left
    margin-right:  1em //10px
    margin-top:  0.7em //7px

  .media .img img
    display: block

  .media .imgExt
    float: right
    margin-left: 1em //10px

  .media.twitter
    p
      margin-bottom: 0.2em //2px
    .tw-name
      color: $gray-dark
    .tw-occu
      color: $gray
    .tw-link
      color: $orange
  .facebook
    img
      width: 180px /320px * 100%
      height: auto
    .each-facebook
      img
        width: 70px /320px * 100%
        height: auto

#currently-recruiting
  .spanner
    img
      width: 200px / 460px * 100%
      height: auto
      padding-left: 3%
      padding-bottom: 2%
      z-index: -1
  .more-companies
    img
      margin-right: 5em
#wellington-auckland
  background: url("/img/background-im.png")
  color: $white
  padding-top: 2em
  #contactform
    padding-top: 1em
    input, textarea
      min-width: 18em
      min-height: 3em
      background-color: $black
      border: none
      color: $white
      margin-bottom: 1em


#footer
  padding: 2em 0em 2em 0em
  background-color: $black
  .social-icons
    margin-top: 10%
.section-full-width
  width: 100%
